@model DataAccessLayer.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/details.css" rel="stylesheet" />
<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Author.FullName)</h4>
    <hr />
    <div id="contain">
        <div id="lpImage">
            <img src="~/Images/@Model.ImagePath" alt="Img" width="200" height="300" />
        </div>
        <div id="rpContent">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd id="description">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                
                <dt class="br">
                    @Html.DisplayNameFor(model => model.PageCount)
                </dt>

                <dd class="br">
                    @Html.DisplayFor(model => model.PageCount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Country.Country1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Country.Country1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Genre.GenreName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genre.GenreName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @{
                        decimal totalPrice = Convert.ToDecimal(Model.Price + Model.Country.PhoneCode);
                        var price = totalPrice.ToString("C2");
                    }
                    @Html.DisplayFor(modelItem => price)
                </dd>
            </dl>
        </div>
    </div>
</div>
<p id="enter">
    @*@if (User.Identity.IsAuthenticated)
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })<p> | </p>
    }*@
    <a href="#" onClick="history.go(-1)"><img src="~/Content/assets/img/left-arrow.png" alt="Book Store logo" width="50px" /></a>
    @*@Html.ActionLink("Back to list", "Index")*@
</p>
